*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    background-color:darkslategray;
    color: #e1d724;
}
#header{
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: right;
}
nav{
    display:flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap:wrap;
    background-color: black;
    height:50px;
}
.front{
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 100px;
   
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size:80px;
    margin-top: 20px;
}
.header-right{
    padding-top: 14%;
}
.header-right p{
    font-size: 30px;
}
/*-----------------------about-------------------*/

#about{
    padding: 80px 0;
    color:black;
    width: 100%;
    height: 100vh;
    background-color:darksalmon;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis: 60%;
    padding-left:10%;
    font-size: 20px;
}
.about-col-2 p{
    padding:5px;
}
/*------------------------skills--------------------*/
#Skills{
    padding: 80px 0;
    width: 100%;
    height: 100vh;
    color: #e1d724;
}
.sub-title1{
    padding-left: 46%;
    font: size 60px;
}
.my-skills{
   padding-left: 10%;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
   grid-gap: 30px;
   margin-top: 50px;
   position: relative;
   overflow: hidden;
}
.my-skills img{
    background: white;
    padding:30px;
    border-radius: 10px;
    display: block;
    
}

/*---------------------portfolio---------------------*/
#Portfolio{
    padding: 80px 0;
    width: 100%;
    height: 100vh;
    background-color:darksalmon;
    color: black;
}
.sub-title2{
    padding-left: 44%;
}
.Projects{
    padding-left: 44%;
    padding-top: 30px;
}
.layer{
    padding-top: 10px;
}


/*-----------------contact-----------------------------*/
#Contact{
    background-color: black;
}
.contact-left{
    flex-basis: 55%;
    padding-left: 42%;
}
.contact-left h1{
    color: #ababab;
}
.social-icons{
   margin-top: 20px;
    
}
.social-icons a{
    text-decoration: none;
    font-size: 50px;
    margin-right: 10px;
    color: #ababab;
    display: flexbox;
    

    
}
